<%- include('../partials/header') %>
<div class="container my-5">
  <header class="jumbotron">
    <h1>Here's how to reach me</h1>
  </header>

  <div>
    <p>100-1000-1000</p>
  </div>
</div>
<%- include('../partials/footer') %>
